@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Success</title>
</head>
    <body>
        <div style="text-align:center; margin-top:30%;">
        <img src="~/Content/success.png" alt="" style="max-height: 100%; max-width: 100%;">
        </div>
    </body>
</html>